*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Cormorant Garamond', sans-serif;
    color: #5f4d5d;
    font-size: 24px;
    line-height: 30px;
}
.buynow-button {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}
.learn-more {
    padding: 15px 50px;
    border: 1px solid #560238;
    border-radius: 25px;
    background-color: #560238;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 15px;
}
img {
    max-width: 100%;
}
section.padding-t-b{
    padding: 75px 0;
}
h4 {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #560238;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
/******header start******/

header{
    position: relative;
    border-top: 4px solid #9f2c75;
}

.navbar-brand img{
    width: 120px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 46px 20px 20px;
    color: #b08ead;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}
.navbar .navbar-toggler:focus{
    box-shadow: none !important;
}
.cart_btn{
    width: 75px;
    height: 116px;
}
.nav_cart{
    width: 19px;
}
/******header end******/
/******Hero secrtion start */
.hero_section{
    position: relative;
    height: auto;
    /* padding:72px 0; */
}
.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #d281b5;
}
.hero_section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #9f2c75;
}
section.hero_section .hero-banner-slider {
    z-index: 99;
}
section.hero_section .hero-banner-slider .hero_banner .hero_img{
    position: relative;
    z-index: 99;
}
section.hero_section .hero-banner-slider .hero_banner .hero_img img{
    max-width: 800px;
    min-height: 625px;
}
.hero_banner{
    z-index: 999;
    width: 100%;
}
.side_text_box{
    display: flex;
    width: 440px;
    min-height: 450px;
    max-width: 440px;
    justify-content: center;
    align-items: flex-start;
    background: #560238;
    flex-direction: column;
    margin-left: -150px;
    position: relative;
    /* margin-top: 101px; */
    z-index: 100;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
}
.side_text_box .mini_title{
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.slider-content h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 45px;
    line-height: 55px;
}
.slider-content a.buy-now {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}

/******Hero secrtion end */
/* .about-section {
    padding: 100px 0;
} */
.about-section .richtext-inner h5 {
    margin-bottom: 10px;
    color: #560238;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.about-section .richtext-inner p {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #560238;
    font-size: 26px;
    line-height: 38px;
    font-weight: 500;
    max-width: 780px;
    margin: 0 auto;
}

.about-card .card-image img {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.about-card .card-image img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.about-card .card-info {
    /* padding: 23px; */
    background-color: #9f2c75;
}
.info-inner h3 {
    transition: opacity 200ms ease;
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.info-inner a {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}
/*****cushion design section start ****/
.design_section{
    background-color: #d281b5;
    /* padding:75px 0;
     */
}
.design_section.design_content.design_banner.design_img{
    position: relative;
}
.design_section.design_content  .design_banner{
    z-index: 99;
}
.design_section.aboutme-section .side_text_box {
    margin-right: -150px;
    margin-left: 0;
}
.design_section.aboutme-section.aboutme-second .side_text_box{
    margin-right: 0px;
    margin-left: -150px;
}
.design_section.aboutme-section .design_img {
    width: 50%;
}
/****cushion design-section end***/
/*****Text with images section start */


.text-with-image .single-image{
    border: 17px solid #560238;
    max-width: 90%;
}
.single-text-with-image {
    border-bottom: 1px solid #d7b7d4;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.single-text-with-image:nth-child(even) .right-side-content {
    order: 1;
}
.single-text-with-image:nth-child(even) .left-side-image {
    order: 2;
    justify-content: flex-end;
}
.single-text-with-image:nth-child(even) .left-side-image .single-image {
    margin: 0 0 0 auto;
}
/*****Text with image section end */


/******Product section start******/
.product-main .product-card .product-card-text p a{
    color: #5f4d5d;
    font-weight: 500;
    text-decoration: none;
}
.product-main .product-card .product-card-text a.price{
    font-family: Roboto, sans-serif;
    color: #b0b0b0;
    font-size: 16px;
    line-height: 17.5px;
    font-weight: 400;
}
.product-main .product-card .product-single-card img{
    transition: all 200ms ease;
}
.product-main .product-card .product-single-card img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/******Product section end******/
/******contact section start******/
.contact-main{
    background-color: #d6bbd3;
    background-image: url(../images/demo_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contact-main:before {
    content: "";
    position: absolute;
    background-color: rgba(86, 2, 56, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-main .contact-form-main {
    background-color: #fff;
    padding: 70px 80px;
    border-radius: 20px;
    max-width: 90%;
    margin: 0 auto;    
}
.contact-main .contact-content {
    padding-bottom: 20px;
}
.contact-main .contact-content h4{
    font-family: Roboto, sans-serif;
    color: #560238;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.contact-main .contact-content p{
    color: #560238;
    font-size: 22.5px;
    margin: 0px !important;
}
.contact-main .contact-form .form-control {
    background: transparent;
    border-radius: 0px !important;
    border: 1px solid #560238;
}
.contact-main .contact-form .form-control::placeholder {
    color: #560238;
}
.contact-main .contact-form  .form-control:focus{
    box-shadow: none !important;
    border-color: #560238;
}
.contact-main .contact-form .btn{
    width: 100%;
    /* border-radius: 0px !important; */
    color: #560238;
    border-color: #560238;


    padding: 15px 50px;
    border: 1px solid #560238;
    border-radius: 25px;
    background-color: #560238;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 15px;
}
.btn-outline-primary{
    color: #fff;
    border-color: #ffffff;
}
/******contact section end******/
/******Newsletter section start******/
.newsletter-main form .input-group .form-control{
    padding: 1rem 1.2rem;
}
.newsletter-main form .form-control::placeholder{
    color: #d6bbd3 !important;
}
.newsletter-main .form-control{
    border: 1px solid #ceb3cb;
}
.newsletter-main form .btn-lg{
    padding: 0.7rem 2.5rem;
    border-radius: 0.1rem;
}
.newsletter-main form .btn-primary{
    background-color: #ceb3cb;
    border-color: #ceb3cb
}
/******Newsletter section end******/
/* prek section start */
.prek-main{
    background-color: #ceb3cb;
    padding: 35px 0;
}
.prek-main .prek-icon{
    width: 95px;
    height: 95px;
    border-radius: 50px;
    background-color:#ba9fb7 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prek-main .prek-inner .prek-icon img{
    max-width: 50PX;
}
.prek-main .prek-inner .prek-content h5{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.prek-main .prek-inner .prek-content p{
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 17px;
}
/* prek section end */
/******footer start******/
footer {
    padding-top: 40px;
    background-color: #c9adc6;
}
footer .footer-logo img.logo-white {
    width: 100%;
    max-width: 102px;
}
footer .footer-link .nav a.nav-link{
    margin-right: 35px;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
}
footer .footer-social-icon{
    margin-right: 10px;
    display: flex;
    width: 36px;
    height: 36px;
    background: #d6bbd3;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
footer .footer-social-icon .fa-brands {
    color: #fff;
    font-size: 16px;
}
footer .footer-notice .footer-notice-text {
    padding-top: 10px;
    margin-bottom: 5px;
}
footer .footer-notice .footer-notice-text a.notice-text-link{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}

/******footer end******/