*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.buynow-button {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}
.learn-more {
    padding: 15px 50px;
    border: 1px solid #560238;
    border-radius: 25px;
    background-color: #560238;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 15px;
}
img {
    max-width: 100%;
}
/******header start******/

header{
    position: relative;
    border-top: 4px solid #9f2c75;
}

.navbar-brand img{
    width: 120px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 46px 20px 20px;
    color: #b08ead;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
}
.cart_btn{
    width: 75px;
    height: 116px;
}
.nav_cart{
    width: 19px;
}
/******header end******/
/******Hero secrtion start */
.hero_section{
    position: relative;
    height: auto;
    padding:72px 0;
}
.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #d281b5;
}
.hero_section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #9f2c75;
}
.hero_img{
    position: relative;
    z-index: 99;
}
.hero_img img{
    max-width: 800px;
    min-height: 625px;
}
.hero_banner{
    z-index: 999;
}
.side_text_box{
    display: flex;
    width: 440px;
    min-height: 450px;
    max-width: 440px;
    justify-content: center;
    align-items: flex-start;
    background: #560238;
    flex-direction: column;
    margin-left: -150px;
    position: relative;
    /* margin-top: 101px; */
    z-index: 100;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
}
.side_text_box .mini_title{
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.slider-content h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 45px;
    line-height: 55px;
}
.slider-content a.buy-now {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}

/******Hero secrtion end */
.about-section {
    padding: 100px 0;
}
.about-section .richtext-inner h5 {
    margin-bottom: 10px;
    color: #560238;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.about-section .richtext-inner p {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #560238;
    font-size: 26px;
    line-height: 38px;
    font-weight: 500;
    max-width: 780px;
    margin: 0 auto;
}

.about-card .card-image img {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.about-card .card-image img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.about-card .card-info {
    /* padding: 23px; */
    background-color: #9f2c75;
}
.info-inner h3 {
    transition: opacity 200ms ease;
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.info-inner a {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}