*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Cormorant Garamond', sans-serif;
    color: #051747;
    font-size: 24px;
    line-height: 30px;
}
.buynow-button {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}
.learn-more {
    padding: 15px 50px;
    border: 1px solid #051747;
    border-radius: 25px;
    background-color: #051747;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #ffffff !important;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 15px;
}
img {
    max-width: 100%;
}
section.padding-t-b{
    padding: 75px 0;
}
h4 {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #051747;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
/******header start******/

header{
    position: relative;
    border-top: 4px solid #535f80;
}

.navbar-brand img{
    width: 100%;
    max-width: 170px;
}
.navbar .navbar-nav .nav-item {
    padding: 20px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 0;
    color: #051747;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
}
.navbar .navbar-nav .nav-item .nav-link:before {
    content: "";
    position: absolute;
    background-color: #051747;
    height: 3px;
    width: 0%;
    bottom: -28px;
    transition: 0.5s all;
    right: 0;
    margin: 0 auto;
    left: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
    width: 100%;
}
.navbar .navbar-toggler:focus{
    box-shadow: none !important;
}
/* .cart_btn{
    width: 75px;
    height: auto;
} */
.nav_cart{
    width: 19px;
}
/******header end******/
/******Hero secrtion start */
.hero_section{
    position: relative;
    height: auto;
    /* padding:72px 0; */
}
.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #e7e9f0;
}
.hero_section::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #535f80;
}
section.hero_section .hero-banner-slider {
    z-index: 99;
}
section.hero_section .hero-banner-slider .hero_banner .hero_img{
    position: relative;
    z-index: 99;
}
section.hero_section .hero-banner-slider .hero_banner .hero_img img{
    max-width: 800px;
    min-height: 625px;
}
.hero_banner{
    z-index: 999;
    width: 100%;
}
.side_text_box{
    display: flex;
    width: 440px;
    min-height: 450px;
    max-width: 440px;
    justify-content: center;
    align-items: flex-start;
    background: #051747;
    flex-direction: column;
    margin-left: -150px;
    position: relative;
    /* margin-top: 101px; */
    z-index: 100;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
}
.side_text_box .mini_title{
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.slider-content h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 45px;
    line-height: 55px;
}
.slider-content a.buy-now {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
    font-weight: 700;
    text-decoration: none;
}

/******Hero secrtion end */
/* .about-section {
    padding: 100px 0;
} */
.about-section .richtext-inner h5 {
    margin-bottom: 10px;
    color: #051747;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.about-section .richtext-inner p {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #051747;
    font-size: 26px;
    line-height: 38px;
    font-weight: 500;
    max-width: 780px;
    margin: 0 auto;
}

.about-card .card-image img {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.about-card .card-image img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.about-card .card-info {
    /* padding: 23px; */
    background-color: #051747;
}
.info-inner h3 {
    transition: opacity 200ms ease;
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.info-inner a {
    font-family: 'Cormorant Garamond', sans-serif;
    color: #fff;
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}
/*****cushion design section start ****/
.design_section{
    background-color: #535f80;
    /* padding:75px 0;
     */
}
.design_section.design_content.design_banner.design_img{
    position: relative;
}
.design_section.design_content  .design_banner{
    z-index: 99;
}
.design_section.aboutme-section .side_text_box {
    margin-right: -150px;
    margin-left: 0;
}
.design_section.aboutme-section.aboutme-second .side_text_box{
    margin-right: 0px;
    margin-left: -150px;
}
.design_section.aboutme-section .design_img {
    width: 50%;
}
/****cushion design-section end***/
/*****Text with images section start */


.text-with-image .single-image{
    border: 17px solid #051747;
    max-width: 90%;
    overflow: hidden;
}
.text-with-image .single-image img {
    transition: 0.5s all;
}
.text-with-image .single-image img:hover {
    transform: scale(1.05);
}
.single-text-with-image {
    border-bottom: 1px solid #051747;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.single-text-with-image:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}
.single-text-with-image:nth-child(even) .right-side-content {
    order: 1;
}
.single-text-with-image:nth-child(even) .left-side-image {
    order: 2;
    justify-content: flex-end;
}
.single-text-with-image:nth-child(even) .left-side-image .single-image {
    margin: 0 0 0 auto;
}
/*****Text with image section end */


/******Product section start******/
.product-main .product-card .product-card-text p a{
    color: #051747;
    font-weight: 500;
    text-decoration: none;
}
.section-title h5 {
    margin-bottom: 10px;
    color: #051747;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.product-main .product-card .product-card-text a.price{
    font-family: Roboto, sans-serif;
    color: #b0b0b0;
    font-size: 16px;
    line-height: 17.5px;
    font-weight: 400;
}
.product-main .product-card .product-single-card img{
    transition: all 200ms ease;
}
.product-main .product-card .product-single-card img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/******Product section end******/
/******contact section start******/
.contact-main{
    background-color: #d6bbd3;
    background-image: url(../images/demo_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contact-main:before {
    content: "";
    position: absolute;
    background-color: rgba(43, 42, 60, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.contact-main .contact-form-main {
    background-color: #fff;
    padding: 70px 80px;
    border-radius: 20px;
    max-width: 90%;
    margin: 0 auto;    
}
.contact-main .contact-content {
    padding-bottom: 20px;
}
.contact-main .contact-content h4{
    font-family: Roboto, sans-serif;
    color: #051747;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.contact-main .contact-content p{
    color: #051747;
    font-size: 22.5px;
    margin: 0px !important;
}
.contact-main .contact-form .form-control {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #051747;
}
.contact-main .contact-form .form-control::-webkit-outer-spin-button,
.contact-main .contact-form .form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact-main .contact-form .form-control::placeholder {
    color: #051747;
}
.contact-main .contact-form  .form-control:focus{
    box-shadow: none !important;
    border-color: #051747;
}
.contact-main .contact-form .btn{
    width: 100%;
    padding: 15px 50px;
    border: 1px solid #051747;
    border-radius: 25px;
    background-color: #051747;
    -webkit-transition: background-color 200ms ease, color 200ms ease;
    transition: background-color 200ms ease, color 200ms ease;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    line-height: 15px;
}
.btn-outline-primary{
    color: #fff;
    border-color: #ffffff;
}
/******contact section end******/
/******Newsletter section start******/
.newsletter-main form .input-group .form-control{
    padding: 1rem 1.2rem;
}
.newsletter-main form .form-control::placeholder{
    color: #051747 !important;
}
.newsletter-main .form-control{
    border: 1px solid #051747;
    /* outline: none !important; */
    box-shadow: none;
}
.newsletter-main form .btn-lg{
    padding: 0.7rem 2.5rem;
    border-radius: 0.1rem;
}
.newsletter-main form .btn-primary{
    background-color: #051747;
    border-color: #051747
}
/******Newsletter section end******/
/* prek section start */
.prek-main{
    background-color: transparent;
    padding: 35px 0;
    border-top: 5px solid #051747;
    border-bottom: 5px solid #051747;
}
.prek-main .prek-icon{
    width: 95px;
    height: 95px;
    border-radius: 50px;
    background-color:#051747 ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
}

.prek-main .prek-inner {
    background: #535f80;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 7px 0px #051747;
    transition: 0.2s all;
}
.prek-main .prek-inner .prek-icon {
    background-color: #fff;
}
.prek-main .prek-inner .prek-icon svg {
    width: 50px;
    height: 50px;
}
.prek-main .prek-inner .prek-icon svg g path {
    fill: #051747;
}
.prek-main .prek-inner .prek-icon img{
    max-width: 50PX;
}
.prek-main .prek-inner:hover {
    box-shadow: 0px 3px 9px 0px #051747;
}
.prek-main .prek-inner:hover .prek-icon {
    background-color: #051747;
}
.prek-main .prek-inner:hover .prek-icon svg g path {
    fill: #fff;
}
.prek-main .prek-inner .prek-content h5{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.prek-main .prek-inner .prek-content p{
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 17px;
    margin: 0;
}
/* prek section end */
/******footer start******/
footer {
    padding-top: 40px;
    background-color: #535f80;
}
footer .footer-logo img.logo-white {
    width: 100%;
    max-width: 102px;
}
footer .footer-link .nav a.nav-link{
    margin-right: 35px;
    color: #fff;
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
}
footer .footer-social-icon{
    margin-right: 10px;
    display: flex;
    width: 36px;
    height: 36px;
    background: #051747;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
footer .footer-social-icon .fa-brands {
    color: #fff;
    font-size: 16px;
}
footer .footer-notice .footer-notice-text {
    padding-top: 10px;
    margin-bottom: 5px;
}
footer .footer-notice .footer-notice-text a.notice-text-link{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}

/******footer end******/



.inner-banner {
    background-image: url(../images/p-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.inner-banner:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.inner-banner .banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-banner .banner-title h3 {
    font-size: 65px;
    color: #fff;
}

.product-detail {
    position: sticky;
    top: 0;
}
.details-inner .price .stars i {
    color: #f8b101;
}
.quantity-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.quantity-button .plus-minus-input {
    max-width: 160px;
    border: 2px solid #000;
    padding: 10px 10px;
    justify-content: center;
    border-radius: 50px;
}
.quantity-button .plus-minus-input .input-group-button {
    width: 30px;
}
.quantity-button .plus-minus-input .input-group-button button {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    background: transparent;
    border: 0;
}
.quantity-button .plus-minus-input .input-group-button button i {
    font-size: 15px;
}
.quantity-button .plus-minus-input .input-group-field {
    width: 100%;
    max-width: calc(100% - 80px);
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: Roboto, sans-serif;
    font-size: 17px;
}  
.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}
  
.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
}
.add-to-cart-button {
    width: 100%;
    max-width: calc(100% - 160px);
    padding-left: 20px;
}
.add-to-cart-button button {
    width: 100%;
    min-height: 54px;
    font-size: 19px;
}
.product-detail .price p {
    font-size: 25px;
    line-height: normal;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}
.product-thumb-image .slick-slide {
    padding: 10px;
}
.product-thumb-image .slick-current .single-image {
    border: 2px solid #051747;
}

.product-tab h2.accordion-header button.accordion-button {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background: #535f80;
}
.product-tab h2.accordion-header button.accordion-button:after {
    content: "\f107";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    font-weight: var(--fa-style,900);
    background-image: none;
}
.product-tab h2.accordion-header button.accordion-button.collapsed {
    background-color: #f2f2f3;
    color: #051747;
}